<!DOCTYPE html>
<html>
  <head>
    <title>Security Logging Demo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if logged_in? %>
        <%= link_to "Dashboard", dashboard_path %> |
        <%= link_to "Log out", logout_path, method: :delete %>
      <% else %>
        <%= link_to "Sign up", signup_path %> |
        <%= link_to "Log in", login_path %>
      <% end %>
    </header>

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

    <%= yield %>
  </body>
</html>